@b product {
    display: flex;
    flex-direction: column;
    padding: 1em;

    @e image-container {
        width: 200px;
        height: 200px;
    }

    @e image {
        max-width: 200px;
        max-height: 200px;
    }
}