@b app {
  height: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;

  @e header {
    border-bottom: 1px solid grey;
    flex: 1 1 100%;
    align-self: flex-start;
  }

  @e navbar {
    border-right: 1px solid grey;
    height: 100%;
    flex: 0 0 200px;
  }

  @e content {
    height: 100%;
    display: flex;
    flex: 1 1;
  }
}
