@b app {
  display: flex;
  flex-direction: column;

  @e header {
    flex: 0 0;
    border-bottom: 1px solid grey;
  }

  @e slot {
    flex: 1 1 100%;
    display: flex;
    flex-direction: row;
  }

  @e navbar {
    flex: 0 0 200px;
    border-right: 1px solid grey;
  }

  @e content {
    flex: 1 1;
  }
}
